.next/
node_modules/
out/
dist/
.vercel/
.turbo/
.env*
.env
.env.local
.env.production
.env.*.local
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo
.DS_Store
Thumbs.db
Novo(a) Documento de Texto.txt
